﻿<div style="height:100%; width: 100%; " class="nav animated fadeIn">
    <table style="height:100%; width: 100%; ">
        <tr style="height:45px; width: 100%;">
            Базовая информацин
        </tr>
        <tr style="height:100%; width: 100%;">
            <td style="width:300px;height:100%;">
            <div style="background-color:#7A7C81;height:100%;width:100%;overflow-y:scroll">
                <table style="width:100%;">
                    <tr  class="UsersList_User" v-for="(Usr,index) in UsersTable">
                        <td class="UsersList_User" v-bind:class="{'ActiveUserInList':GM().GetUndefinedBool($route,'id',Usr.id)}" v-on:click="GM().SelectUser(Usr.id)">{{index+1}} {{Usr.name}}</td>
                    </tr> 
                </table>
            </div>
            </td>
            <td style="width:calc(100%-500px);height:100%;">
                <div style="background-color:#C7C9CD;height:100%;width:100%;overflow-y:scroll">
                    <table>
                        <tr>
                            <td>ФИО</td>
                            <td>Вася Пупкин </td>
                        </tr>
                        <tr>
                            <td>Почта </td>
                            <td>Почта Васи Пупкина  тут</td>
                        </tr>
                        <tr>
                            <td>Ник в телеграме</td>
                            <td>Ник в телеграме тут</td>
                        </tr>
                        <tr>
                            <td>Дата регистрации</td>
                            <td>тут будет дата регистрация Васи</td>
                        </tr> 
                    </table><br/><br /><br/>
                    <div>
                        <b>Предоставления VIP статуса</b> 
                        <table style="border:1px solid black;">
                            <tr>
                                <td>Введите стоимость в месяц</td>
                                <td><input v-model="User.PriceToVIPadd" type="number" min="0"></td>
                            </tr>
                            <tr>
                                <td>Дата начала подписки</td>
                                <td>
                                    <input type="date" v-model="User.DateBegin"  v-on:change="GM().ExecuteTimeMoneyForVIP(User.DateBegin,User.TimeToVIPadd.value,User.PriceToVIPadd)">
                                </td>
                            </tr>
                            <tr>
                                <td>Выберите длительность</td>
                                <td>
                                    <select v-model="User.TimeToVIPadd" v-on:change="GM().ExecuteTimeMoneyForVIP(User.DateBegin,User.TimeToVIPadd.value,User.PriceToVIPadd)">
                                        <option v-bind:value="{ value: 1}">1 месяц</option>
                                        <option v-bind:value="{ value: 2}">2 месяца + 2 дня</option>
                                        <option v-bind:value="{ value: 3}">3 месяца + 5 дней</option>
                                    </select>
                                </td>
                            </tr>
                        </table>   
                        <br /><br /><br />
                        <div>
                            <b>Предварительный просчёт </b>
                            <table>
                                <tr>
                                    <td>Дней суммарно</td>
                                    <td>{{User.DaysForVIP }}</td>
                                </tr>
                                <tr>
                                    <td>Подписка действительна до</td>
                                    <td>{{User.DateEndVIPtext}}</td>
                                </tr>
                                <tr>
                                    <td>Цена за день</td>
                                    <td>{{User.PriceDay}}</td>
                                </tr>
                            </table>
                            <button v-on:click="GM().SetVIP()">Предоставить  VIP статус</button>  
                        </div>
                    </div>
                    
                     
                </div>
            </td>
        </tr>
    </table>
</div>