﻿body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #4A4B4D;
}

[v-cloak] {
    display: none;
}

.active_link {
    background-color: #190606;
    font-size: large;
    color: navajowhite !important;
}

.nav_link_left:hover {
    background-color: #390D0D !important;
}

.nav_link_left:focus {
    background-color: #190606 !important;
}

.UsersList_User {
    cursor: pointer;
    width:100%; 
    height:40px;
}

.UsersList_User:hover {
    background-color: #190606;
}

.ActiveUserInList{
    background-color:green;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}