<!DOCTYPE html>
<html style="width:100%;height:100%; overflow: hidden;">
<head>
    <title>Криптомафия - личный кабинет</title>
    <link rel="stylesheet" href="~/min/library.min.css"> 
    <link rel="stylesheet" href="~/min/animate.css"> 
    <script src="~/min/vue.min.js"></script> 
    <script src="~/min/vue-router.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> 
 

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>-->
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js"></script>-->
    <style>
       @Html.Partial("~/Views/Admin/css/main.css")
       @Html.Partial("~/Views/Admin/css/index.css")
       @Html.Partial("~/Views/Admin/css/news.css")
       @Html.Partial("~/Views/Admin/css/settings.css")
       @Html.Partial("~/Views/Admin/css/users.css")
    </style>
</head>
<body style="height:100%;width:100%;">
    <div id="app" style="height:100%;width:100%;">
        @Html.Partial("~/Views/Admin/Body.cshtml")
    </div>
        @Html.Partial("~/Views/Admin/js/mainjs.cshtml")
</body>
</html>





