﻿<div style="height:100%; width: 100%;padding:15px;">
    <table style="height:100%; width: 100%; ">
        <tr style="height:100%; width: 100%;">
            <td valign="top" style="background-color:#2B3A41;width:200px;height:100%;">
                <div style="color:white;height:50px;background-color:#1F282D"><center><b>Криптомафия</b><br>Панель администратора<br></center></div>
                <ul class="nav animated fadeIn" >
                    <li  v-bind:class=" $route.path ==='/admin/users'?  'active_link' : ''">
                        <router-link to="/admin/users"  class=" nav_link_left" >Пользователи</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/admin/news'?  'active_link' : ''">
                        <router-link to="/admin/news"  class=" nav_link_left">Новости</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/admin/settings'?  'active_link' : ''">
                        <router-link to="/admin/settings"  class=" nav_link_left">Настройки</router-link>
                    </li>
                    <li>
                        <a href="/" class=" nav_link_left">Главная страница</a>
                    </li>
                    <li>
                       <a href="/my_page" class=" nav_link_left">Моя страница</a> 
                    </li>

                </ul>
            </td>
            <td valign="top" style="background-color:#F3F3F3;height:100%">
                <div style="height:50px;background-color:#1F282D">

                </div> 
                <div style="height:calc(100% - 50px);width:100%;"> 
                        <router-view ></router-view> 
                </div>
            </td>
        </tr>
    </table>
</div>