﻿<div style="height:100%; width: 100%;padding:15px;">
    <table style="height:100%; width: 100%; ">
        <tr style="height:100%; width: 100%;">
            <td valign="top" style="background-color:#2B3A41;width:200px;height:100%;">
                <div style="color:white;height:50px"><center><b>Криптомафия</b></center></div>
                <ul class="nav animated fadeIn" >
                    <li  v-bind:class=" $route.path ==='/my_page/materials'?  'active_link' : ''">
                        <router-link to="/my_page/materials"  class=" nav_link_left" >materials</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/my_page/settings'?  'active_link' : ''">
                        <router-link to="/my_page/settings"  class=" nav_link_left">Настройки</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/my_page/news'?  'active_link' : ''">
                        <router-link to="/my_page/news"  class=" nav_link_left">news</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/my_page/trainings'?  'active_link' : ''">
                        <router-link to="/my_page/trainings"  class="nav_link_left">trainings</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/'?  'active_link' : ''">
                        <a href="/" class="nav_link_left">Главная страница </a>
                    </li>
                    @if (ViewBag.ViewBagResponse.IsAdmin == true)
                    {
                        <li>
                            <a href="/admin" class=" nav_link_left">Страница администратора</a>
                        </li>
                    }
                    

                </ul>
            </td>
            <td valign="top" style="background-color:#F3F3F3;height:100%">
                <div style="height:55px;">
                    <nav class="navbar navbar-default animated fadeIn" role="navigation" v-cloak>
                        <div class="container-fluid"> 
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">эмблема КМ</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <b>{{Auth.Name}}</b>
                                    </li>
                                    <li v-bind:class=" $route.path ==='/logout'?  'active_link' : ''">
                                        <a href="/logout" class="nav_link_left">Выход</a>
                                    </li>  
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div style="overflow-y:scroll;height:calc(100% - 55px);width:100%;"> 
                        <router-view ></router-view> 
                </div>
            </td>
        </tr>
    </table>
</div>