﻿<!DOCTYPE html>
<html style="width:100%;height:100%; overflow: hidden;">
<head>
    <title>Криптомафия</title>
    <link rel="stylesheet" href="~/min/library.min.css">
    <link rel="stylesheet" href="~/min/animate.css">
    <script src="~/min/vue.min.js"></script>
    <script src="~/min/vue-router.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js"></script>-->
    <style>
       @Html.Partial("~/Views/All/css/main.css")
    </style>
</head>
<body style="height:100%;width:100%;">
    <div id="app" style="height:100%;width:100%;">
        @Html.Partial("~/Views/All/Body.cshtml")
    </div>
    @Html.Partial("~/Views/All/js/mainjs.cshtml")
</body>
</html>
