<div style="height:100%; width: 100%;padding:15px;" >
    <table style="height:100%; width: 100%; ">
        <tr style="height:100%; width: 100%;">
            <td valign="top" style="background-color:#2B3A41;width:200px;height:100%;">
                <div style="color:white;height:50px"><center><b>Криптомафия</b></center></div>
                <ul class="nav animated fadeIn">
                    <li v-bind:class=" $route.path ==='/'?  'active_link' : ''">
                        <router-link to="/" class=" nav_link_left">Главная страница</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/about'?  'active_link' : ''">
                        <router-link to="/about" class=" nav_link_left">О сайте</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/news'?  'active_link' : ''">
                        <router-link to="/news" class=" nav_link_left">Новости</router-link>
                    </li>
                    <li>
                        <a href="/my_page" class=" nav_link_left">Моя страница</a>
                    </li>

                </ul>
            </td>
            <td valign="top" style="background-color:#F3F3F3;height:100%">
                <div style="height:55px;">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid animated fadeIn" v-cloak>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">эмблема КМ</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" > 
                                <ul class="nav navbar-nav navbar-right">
                                    <li v-bind:class=" $route.path ==='/register'?  'active_link' : ''">
                                        <router-link to="/register" class=" nav_link_left">Регистрация</router-link>
                                    </li>
                                    <li v-bind:class=" $route.path ==='/my_page'?  'active_link' : ''" >
                                        <a href="/my_page" class=" nav_link_left" >{{Auth.Name}} Войти в кабинет</a>
                                    </li> 
                                    <li v-bind:class=" $route.path ==='/my_page'?  'active_link' : ''">
                                        <a href="/logout" class="nav_link_left">Выход</a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div style="overflow-y:scroll;height:calc(100% - 55px);width:100%;">
                    <router-view></router-view>
                </div>
            </td>
        </tr>
    </table>
</div>